* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 50px 80px;
}

.banner-right {
    display: flex;
    justify-content: flex-end;
    background-image: url('images/Circle\ design.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}

.banner-img-div {
    /* width: 75%; */
}

.banner-right img {
    /* width: 100%; */
}

.banner-left {
    width: 50%;
}

/* meadia query  for responsiveness */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        margin: 10px;
        text-align: center;
    }
    nav ul {
        justify-content: center;
        gap: 5px;
        margin-top: 5px;
    }
}